.container{
    width:412px;
    margin: 0 auto;
    text-align:center;
}
.bm{
    border-bottom: 1px solid black;
    
}
.text-center{
    text-align: center;
}
/* .list{
    list-style-type: disc;
} */
.mt-1{
    margin-top: 4px;
}
.mt-2{
    margin-top: 8px;
}
.mt-3{
    margin-top: 12px;
}
.mt-4{
    margin-top: 16px;
}
.mt-5{
    margin-top: 20px;
}
.mt-6{
    margin-top: 24px;
}
.mt-7{
    margin-top: 28px;
}
.mt-8{
    margin-top: 32px;
}
.mt-9{
    margin-top: 36px;
}
.mt-10{
    margin-top: 40px;
}
.mt-12{
    margin-top: 56px;
}
.mt-16{
    margin-top: 64px;
}
.mt-17{
    margin-top: 68px;
}
.mt-47{
    margin-top: 188px;
}
.mb-12{
    margin-bottom: 48px;
}
.mb-16{
    margin-bottom: 64px;
}
.mb-40{
    margin-bottom: 160px;
}
.ml-6{
    margin-left: 24px;
}
.pt-1{
    padding-top: 4px;
}

.pt-10{
    padding-top: 40px;
}
.pt-12{
    padding-top: 56px;
}
.pt-17{
    padding-top: 68px;
}
.pt-76{
    padding-top: 308px;
}
.pb-12{
    padding-bottom: 48px;
}
.pb-16{
    padding-bottom: 64px;
}
.pb-40{
    padding-bottom: 160px;
}
.pl-4{
    padding-left: 16px;
}

.banner{
    width: 100%;
    height: 958px;
    background-image: url(./img/banner.png); 
    text-align: center;
    background-size: cover;
    background-position: center center; 
}
.information {
    margin: 0 auto;
    width: 304px;
    color: #fff;
}
.information h1{
    line-height: 106px;
    font-size: 80px;

}
.information h2{
    text-align: left;
}
.information p{
    text-align: left;
    line-height:36px;
    font-size: 24px;
}
.information-img{
    margin: 0 auto;
    width: 304px;
    padding: 40px 8px 0px;
}

.about{
    text-align: center;
}
.about h2{
    font-size: 64px;
    line-height: 84px;
}
.about h3{
    font-size: 24px;
    line-height: 32px;
}
.spot h3::before{
    content:"";
    display: inline-block;
    background-color:#891818 ; 
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 16px;
    vertical-align: baseline;
}
.band-content{
    width: 100%;
    color: #fff;
    text-align:center;
    background-color: black;
}
.band-content h2{
    font-size: 64px;
    line-height: 84px;
}
.band-img-container{
    margin: 0 auto;
    width:1200px;
    display: flex;
    justify-content: space-between;
}
.work-collection{
    margin-top: 56px;
    text-align: center;
    overflow:hidden;
}
.work-collection h2{
    font-size: 64px;
    line-height: 84px;
}
.poster-design{
    margin: 0 auto;
    width:1200px;
    display: flex;
    justify-content: space-between;
}
.photography-concept{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.business-design{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer{
    width:100%;
    color: #fff;
    background-color: #000;
}
footer h2{
    font-size: 64px;
    line-height: 84px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer p{
    font-size: 24px;
    line-height: 33px;
}

